@model GoogleAuthApp.Models.CreatePostModel
@{
    ViewBag.Title = "EditPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Post</h2>


<div style="position:relative;" class="searchedItem">
    <a href="@Url.Action("DeletePost", "Profile", new { postId = @Model.Id} )" style="height: 100px; width: 100px;position:relative;">
        <input type="submit" value="Delete Post" />
    </a>
</div>

@using (Html.BeginForm())
{
    <input type="submit" value="Edit" />
    <br />
    <br />
    @Html.HiddenFor(model => model.Id)
    @Html.LabelFor(model => model.Text, "Details")
    <br />
    @Html.TextAreaFor(model => model.Text)
    <br />
    <br />
    @Html.LabelFor(model => model.Date, "Date")
    <br />
    @Model.Date
    <br />
    <br />
    @Html.LabelFor(model => model.Categories, "Categories")
    <br />
}
@foreach (var category in Model.Categories)
{
    <div style="display: flex">
        <div>
            @category.Group
        </div>
        <div style="position:relative;" class="searchedItem">
            @*That is not real categoryId    it is postCategoryId *@
            <a href="@Url.Action("DeleteCategoryFromPost", "Profile", new { postId = Model.Id, postCategoryId = category.Id} )" style="height: 50px; width: 50px;position:relative;">
                <input type="submit" value="X" />
            </a>
        </div>
    </div>
}

<br />
<br />

<div id="btn_addCategory" style="position:relative;" class="searchedItem">
    <input type="button" value="Add category" />
</div>
<div id="addCategoryDiv" style="display: none">
    <div>
        <select id="ddl">
            @foreach (var group in Model.GroupsOfInterests.Where(g => g.ParentId.Equals(0)))
            {
                <option value="@group.Id">@group.Group </option>
            }
        </select>

        @foreach (var group in Model.GroupsOfInterests.Where(g => g.ParentId.Equals(0)).ToArray())
        {
            <select id="ddl_@group.Id" class="DDL hideDDL">
                <option value=""></option>
                @foreach (var subGroup in Model.GroupsOfInterests.Where(u => u.ParentId.Equals(@group.Id)))
                {
                    <option value="@subGroup.Id">@subGroup.Group</option>
                }
            </select>
        }
    </div>
    <div>
        <input id="btn_addGroup" type="submit" value="Add" />
    </div>
</div>

<div class="slider">
    @foreach (var picture in Model.PostPictures)
    {
        <div class="slider__item">
            @Html.Raw("<img src=\"data:image/jpeg;base64,"
                                   + Convert.ToBase64String(picture.Picture) + "\" />")
        </div>
    }
</div>

<div id="btn_addPicture" style="position:relative;" class="searchedItem">
    <input type="button" value="Add picture" />
</div>

<div id="addPictureDiv" style="display: none">
    @using (Html.BeginForm("AddPictureToPost", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Text)
        @Html.ValidationSummary(true)
        <fieldset>
            @*<legend>Add Picture</legend>*@
            <hr>

            <div class="editor-label">Picture file</div>
            <div class="editor-field">
                <input type="file" name="uploadImage" />
            </div>

            <p>
                <input type="submit" value="Upload" />
            </p>
        </fieldset>
    }
</div>

<head>
    <link type="text/css" rel="stylesheet" href="~/Styles/sliderStyle.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/hide.css" />
</head>

@section scripts {
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    @*add slider Slick*@
    <script src="~/Scripts/slick.min.js"></script>
    @*settings for slider*@
    <script src="~/Scripts/sliderSettings.js"></script>
    @*set style*@
    <script src="~/Styles/"></script>
    <script type="text/javascript">
        document.getElementById("btn_addPicture").addEventListener("click", function () {
            var x = document.getElementById("addPictureDiv");
            x.style.display = "block";
            var button = document.getElementById("btn_addPicture");
            button.style.display = "none";
        });
        document.getElementById("btn_addCategory").addEventListener("click", function () {
            var div = document.getElementById("addCategoryDiv");
            div.style.display = "block";
            var button = document.getElementById("btn_addCategory");
            button.style.display = "none";
        });

        $('#ddl').change(function () {
            $('.DDL').addClass('hideDDL');
            var chosen = $(this).find('option:selected').attr('value');
            $('#ddl_' + chosen).removeClass('hideDDL');
        });
        document.getElementById("btn_addGroup").addEventListener("click", function () {
            var groupId = "";
            var drop1 = $('#ddl').find('option:selected').attr('value');
            var drop2 = $('#ddl_' + drop1).find('option:selected').attr('value');

            if (drop2 == "")
                groupId = drop1;
            else
                groupId = drop2;

            location.href = '@Url.Action("AddCategoryToPost", "Profile")?postId=' + @Model.Id + '&categoryId=' + groupId;
        });
    </script>
}