@model GoogleAuthApp.Models.ShowOffersModel

@{
    ViewBag.Title = "Offers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="@Url.Content("~/Styles/OwnProfile.css")" rel="stylesheet" type="text/css" />
    <link type="text/css" rel="stylesheet" href="~/Styles/sliderStyle.css" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
</head>

@section scripts {
    @*add slider Slick*@
    <script src="~/Scripts/slick.min.js"></script>
    @*settings for slider*@
    <script src="~/Scripts/sliderSettings.js"></script>
}

<h2>Offers</h2>
<div class="main-container">

    <div class="profile-container">
        <a class="button purpule" href="@Url.Action("CreateOffer", "Profile")">
            Create Offer
        </a>
    </div>
    <div>
        @foreach (var offer in Model.Offers)
        {
            <hr>
            <div class="postoffername">
                <span>@offer.PostOrOffer</span>
            </div>
            <div class="low-sub-container">
                <div class="postoffer-top-container">
                    <textarea readonly class="details-container">@offer.Text</textarea>
                </div>
                <div class="slider">
                    @foreach (var picture in offer.OfferPictures)
                    {
                        <div class="slider__item">
                            @Html.Raw("<img src=\"data:image/jpeg;base64,"
                                                   + Convert.ToBase64String(picture.Picture) + "\" />")
                        </div>
                    }
                </div>   
                <div class="postoffer-low-container">
                    <div>
                        <hr class="hr-offerProfile">
                        <div class="categories-container">
                            @foreach (var category in offer.Categories)
                            {
                                <p class="category-circule">@category.Group</p>
                            }
                        </div>
                        <hr class="hr-offerProfile">
                    </div>
                    <div class="postoffer-low-container-bottom-section">
                        <div>
                            @offer.Date
                        </div>
                        <div class="like-conteiner">
                            <a href="@Url.Action("AddLikeToOffer", "Profile", new { offerId =offer.Id , backTo = "Offers"} )">
                                <span>Like:</span>
                            </a>
                            @offer.Likes
                        </div>
                        <div>
                            <a  href="@Url.Action("ShowProfile", "Profile", new { userId = offer.UserId} )">
                                <span>@offer.UserName's profile</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>