@model IEnumerable<GoogleAuthApp.Models.OwnProfileViewModel>

@{
    ViewBag.Title = "ShowOwnProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="@Url.Content("~/Styles/Profile.css")" rel="stylesheet" type="text/css" />
    
</head>

<h2>My Profile</h2>

<div>
    <div class="top-container">
        <div class="profile-photo-container">
            @Html.Raw("<img src=\"data:image/jpeg;base64,"
                                  + Convert.ToBase64String(ViewBag.Photo) + "\" />")
            <p> @Html.ActionLink("Add a photo", "Create")</p>
        </div>
        <div class="profile-info-container">
            <div class="name">
                <p>@ViewBag.FirstName @ViewBag.SecondName</p>
            </div>
            <p class="username">@ViewBag.UserName</p>
            <p class="birthday">@ViewBag.BirthDay</p>
        </div>
        
    </div>
</div>







  
